p {
  font-size: 1.2em;
}

blockquote p {
  font-size: 1.1em;
}

.li {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.article {
  max-width: 700px;
}

.article iframe, .article img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.title {
  border-bottom: 1px solid #ddd;
  margin-bottom: .5em;
  padding-bottom: .5em;
}

.profile-card {
  padding: .5em;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
}

#bio {
    padding: .5em;
}

@media (min-width: 1200px) {
  .profile-card {
    max-width: 600px;
  }
}

.profile-card p {
  margin-left: .5em;
}

.author-profile {
  padding-top: 1em;
  margin-top: 2em;
  border-top: 1px solid #ddd;
}

.article pre {
    border-radius: 0px;
    padding: 20px;
    border: none;
    margin-top: 30px;
    margin-bottom: 23px;
    font-size: 1.3em;
}

.article blockquote {
    font-size: 1.1em;
}

.article p {
    font-size: 1.4em;
    letter-spacing: -.003em;
    line-height: 1.58;
}

.home-button {
    position: fixed;
    font-size: 1.3em;
    margin-top: 25px;
    margin-left: 25px;
}

.home-button a {
    text-decoration: none;
    color: black;
}
