p {
    font-size: 1.2em;
}

blockquote p {
    font-size: 1.1em;
}

.li {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.article {
    margin-top: 15px;
    max-width: 900px !important;
}

.article iframe, .article img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.title small {
    float: right;
    padding-top: 5px;
}

.article h5 {
    font-weight: 400;
}

.title {
    border-bottom: 1px solid #ddd;
    margin-bottom: .5em;
    padding-bottom: .5em;
}

.profile-card {
    padding: .5em;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    max-width: 600px;
}

#bio {
    padding: .5em;
    border-bottom: 1px solid #ddd;
}

.author-profile {
    padding-top: 1em;
    margin-top: 2em;
    border-top: 1px solid #ddd;
}

.article pre {
    border-radius: 0px;
    padding: 20px;
    border: none;
    margin-top: 30px;
    margin-bottom: 23px;
    font-size: 1.2em;
    background-color: #f7f7f9
}

.article blockquote {
    font-size: 1.1em;
}

.article p {
    font-size: 1.4em;
    letter-spacing: -.003em;
    line-height: 1.58;
}

.home-button {
    height: 50px;
    font-size: 1.3em;
}

.home-button a, .text-deco-none {
    text-decoration: none;
    color: black;
}

.text-deco-none:hover {
    text-decoration: none;
}

.block {
    display: block;
}

.border {
    width: 100%;
    border-top: 1px solid #ddd;
    margin-top: 15px;
    margin-bottom: 15px;
}

.pager {
    text-align: center;
}

.pager .btn {
    margin: 15px;
}
