p {
  font-size: 1.2em;
}

blockquote p {
  font-size: 1.1em;
}

.li {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.article {
  max-width: 700px;
}

.article iframe, .article img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.title {
  border-bottom: 1px solid #ddd;
  margin-bottom: .5em;
  padding-bottom: .5em;
}

.profile-card {
  position: relative;
  top: 45%;
  transform: translateY(-50%);
  padding: .5em;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 15px black;
  background-color: white;
}

@media (min-width: 1200px) {
  .profile-card {
    max-width: 700px;
  }
}

.profile-card p {
  margin-left: .5em;
}

.navbar {
  box-shadow: 0px 0px 15px black !important;
}

.navbar li:hover {
  background-color: #ddd;
}
