.profile {
  text-align: center;
  display: inline-block;
  background-color: white;
  border-radius: 5px;
  width: 95%;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #ddd;
}

.profile-pic-container, .profile-info-container {
  display: inline-block;
  vertical-align: middle;
}

.profile-pic {
  border-radius: 100px;
  height: 200px;
}

.profile-info {
  padding-top: 20px;
  text-align: left;
  height: 200px;
}

.profile-info p {
  vertical-align: center;
  font-size: 1.2em;
}
