<div class="container-fluid">
    {{ range .Paginator.Pages }}
        {{ .Render "li" }}
    {{ end }}
</div>

{{ if or (.Paginator.HasPrev) (.Paginator.HasNext)  }}
<div class="pager">
    {{ if .Paginator.HasPrev  }}
    <a class="text-deco-none" href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">
        <div class="btn btn-md btn-outline-primary d-inline-block">Prev</div>
    </a>
    {{ end }}

    {{ if .Paginator.HasNext }}
    <a class="text-deco-none" href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">
        <div class="btn btn-md btn-outline-primary d-inline-block">Next</div>
    </a>
    {{ end }}
</div>
{{ end }}


<div class="container text-center tag-container">
    <div class="li">
        <h2>Tags</h2>
        {{ range .Site.Taxonomies }}
            {{ range .ByCount }}
                <span>
                    <a href="/tags/{{ .Name }}">#{{ .Name }}</a>:
                    {{ .Count }} |
                </span>
            {{ end }}
        {{ end }}
    </div>
</div>


<style>
 .tag-container {
     margin-top: .5rem;
     padding-top: .5rem;
     border-top: 1px solid #ddd;
 }
</style>
